* {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    -webkit-tap-highlight-color: transparent !important;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: auto;
}

a,
button {
    user-select: none;
}

a *,
button * {
    pointer-events: none;
}