.button {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 1em 1.2em;
    border-radius: 1000em;
    font-size: 1em;
    font-weight: semibold;
    background-color: rgb(135, 194, 250);
    cursor: pointer;
    color: #214e72;
}