aside {
    width: 6em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    grid-template-rows: 4em auto 4em;
    grid-template-columns: 1fr;
    display: grid;
    align-content: space-between;
    flex-flow: column;
    border-right: solid 1px var(--card-border-color);
}

aside > .box {
    width: 100%;
    height: 100%;
    border-radius: 1.3em;
    background-color: var(--card-color-50);
    border: solid 1px var(--card-border-color);
    border-bottom-width: 2px;
    backdrop-filter: blur(15px);
    padding: .5em;
}

aside > .box:first-child,
aside > .box:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside > .box:first-child {
    background-color: #b5ffbf;
    color: #000;
}

aside > .box:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

aside > .box:last-child {
    background-color: transparent;
    border: none;
}