body {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 25px;
    background-color: #EEE;
}

main {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 1em;
}

main > p:first-child {
    font-size: 1.2em;
    font-weight: 400;
}